@{
    ViewData["Title"] = "Giriş qadağandır";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<section class="text-light bg-dark pt60 pb60">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h1 class="text-danger mb-4">
                    <i class="fa fa-ban fa-3x"></i>
                    <br />
                    Giriş Qadağandır
                </h1>
                <p class="lead">
                    Bu səhifəyə daxil olmaq üçün kifayət qədər icazəniz yoxdur.
                    <br />
                    Yalnız <strong>Admin</strong> roluna sahib istifadəçilər bu səhifəyə daxil ola bilər.
                </p>
                <a href="~/" class="btn btn-outline-light mt-4"><i class="fa fa-home"></i> Əsas səhifəyə qayıt</a>
            </div>
        </div>
    </div>
</section>
