<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Register</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Don't have an account? Register now.</h3>
                    <p>Welcome to Rentaly. We're excited to have you on board. By creating an account with us, you'll gain access to a range of benefits and convenient features that will enhance your car rental experience.</p>

                    <div class="spacer-10"></div>
                    <form id='contact_form' class="form-border" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="field-set">
                                    <label>Email Address:</label>
                                    <input name="email" required type="email" id='email' class="form-control">
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-12 mt-4">
                                <div id='submit' class="pull-left">
                                    <button type="submit" class="btn btn-dark btn-lg rounded-1">Send reset link</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>